$color-primary: #ff6624;
$color-primary-hovered: #ff834e;
$color-primary-light: #ff7f48;
$color-primary-light-hovered: #ff9365;

$color-dark-red: #ab0505;

$color-white: #fff;
$color-white-hovered: #ffe8d4;
$color-black: #000;

$color-light-gray: #d9d9d9;
$color-gray: #a79d9d;
$color-dark-gray: #797575;
