$font-primary: "DM Sans";
$font-secondary: "Playfair Display";
$font-icons: "Icons";

$breakpoint-xxl: 1690px;
$breakpoint-xl: 1330px;
$breakpoint-l: 940px;
$breakpoint-m: 720px;
$breakpoint-s: 560px;

$transition-base: 0.3s;

$quote-height: 2em;
$close-quote-top-gap: 1em;
$food-cards-gap: 1.2em;
